<!doctype html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>


<body>
    
        <header class="text-center">
           
            <h1 > 
                <img src="assets/2png.png" width='22%' alt="">
                          
                INSTITUTO TECNOLOGICO DE SALINA CRUZ
                
               
                <img src="assets/1png.png" width='12%' alt="">
                
               
                </h1>
         
                
        </header>

   
    

<div>
    
<hr>
<hr>

    <div class="col">
    
        <button  hrf="/alumno">ALUMNO</button>
    
    </div>

    <br>
    
    <div class="col">
        
        <button >JEFE DE DEPARTAMENTO</button>
    
    </div>
</div>

</body>
</html>




