<div class="col">
        <h3>ALUMNO</h3>
    
       <form (submit)="accseso( $event)">
        <input type="number" placeholder="N° DE CONTROL"/>

        <input type="number" placeholder="NIP"/>

        <button  >Acceso</button>

       </form>
    
    </div>

    <br>

    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">EVIDENCIAS ENTREGADAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACTIVIDADES A REALIZAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACTIVIDADES COMPLEMENTARIAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACTIVIDADES EXTRAESCOLARES</a>
        </li>
      </ul>
    






